@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out; /* Mude o tempo */
}
#app {
    margin-top: 20px;
}

/* Customização para os temas */
body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

body[data-bs-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}